body {
  background-color: blue;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

h1 {
  color: white;
  font-weight: bold;
  text-align: center;
}

input[type="checkbox"] {
  color: white;
  margin-right: 8px;
}
.list{
  color: aliceblue;
}